@model Club
<div class="container">
    <h4 class="centered">Информация о клубе</h4>
    <hr />
    <p><b>Название : </b>@Model.name</p>
    <p><b>Город :</b> @Model.city</p>
    <p><b>Дата оплаты взноса :</b> @Model.datePay</p>

</div>

